<div class="container">
    <div class="row mt-4 d-flex justify-content-center align-items-center mt-2">
        
        <div class="col-3">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName">
        </div>

        
        <div class="col-3">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName">
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center mt-2">
       
        <div class="col-6">
            <label for="emailId">Email ID:</label>
            <input type="text" class="form-control" id="emailId">
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center mt-2">
        
        <div class="col-3">
            <label for="mobileNo">Mobile No:</label>
            <input type="text" class="form-control" id="mobileNo">
        </div>

       
        <div class="col-3">
            <label for="brokerId">Broker ID:</label>
            <input type="text" class="form-control" id="brokerId">
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center mt-2" >
       
        <div class="col-3">
            <label for="mpin">MPIN:</label>
            <input type="text" class="form-control" id="mpin">
        </div>

       
        <div class="col-3">
            <label for="apiKey">API Key:</label>
            <input type="text" class="form-control" id="apiKey">
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center mt-2">
        
        <div class="col-3">
            <label for="totpKey">TOTP Key:</label>
            <input type="text" class="form-control" id="totpKey">
        </div>

       
        <div class="col-3">
            <label for="losts">Losts:</label>
            <input type="text" class="form-control" id="losts">
        </div>
    </div>

    
    <div class="row mt-4 text-center justify-content-center">
        <div class="col-3">
            <button class="btn btn-primary me-3" type="button">ADD</button>
            <button class="btn btn-primary" type="button">CANCEL</button>
        </div>
    </div>
</div>
