
<hr>
<div class="d-flex justify-content-end mb-4">
    <button class="btn btn-primary"><a href="add">ADD</a></button>
</div>
<table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Broker ID</th>
      <th>Lots</th>
      <th>Publish</th>
    </tr>
    <tr>
      <td>1</td>
      <td>John Doe</td>
      <td>18</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
     
    </tr>
    <tr>
      <td>2</td>
      <td>Jane Smith</td>
      <td>19</td>
      <td>B</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
    </tr>
  </table>
  
  
