
<div class="td1">
    <div class="logo">
        <div class="td me-2">Trade</div>
        <div class="lg">Logic</div>
    </div>
    <div class="nav">
        <ul>
            <li><a routerLink="/trade" routerLinkActive="active">Positions</a></li>
            <li><a  routerLink="/param" routerLinkActive="active">Params</a></li>
            <li><a routerLink="/client" routerLinkActive="active">Clients</a></li>
            <li><a routerLink="/log" routerLinkActive="active">Logs</a></li>
            <li><a routerLink="/lgt" routerLinkActive="active">Log Out</a></li>
        </ul>
    </div>
    </div>