<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML Table Example</title>
  
</head>
<body>

<hr>
<div class="d-flex justify-content-end mb-4">
    <button class="btn btn-primary"><a href="add">DOWNLOAD</a></button>
</div>
<table>
  <tr>
    <th>SYMBOL</th>
    <th>UUID</th>
    <th>LTP</th>
    <th>BUYPRICE</th>
    <th>TGT</th>
    <th>SL</th>
    <th>PNL</th>
    <th>QTY</th>
    <th>ENTRY DATE</th>
    <th>ENTRY TIME	</th>
    <th>REASON</th>
    <th>EXIT DATE</th>
    <th>EXIT TIME</th>
    <th>OPEN</th>
  </tr>
  <tr>
    <td>1</td>
    <td>John Doe</td>
    <td>18</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Jane Smith</td>
    <td>19</td>
    <td>B</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
    <td>A</td>
  </tr>
</table>

</body>
</html>

<!-- <div class="trade">
    <table>
        <tr>
            <th></th>
           
        </tr>
    </table>
</div> -->
